<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>
<div class="well">
  <p><a href="./admin/products">Number of Products:</a> &nbsp<%= @products.count %></p>
  <p>Number of Categories:&nbsp<%= @categories.count %></p>
</div>